Last-IPFS/*
!Last-IPFS/.gitkeep
Last-IPFS/export/*
!Last-IPFS/export/.gitkeep
./Last-core/db/mongodb/*
!./Last-core/db/mongodb/.gitkeep
Last-mq
Last-clients/Last-wallet/android
Last-clients/Last-wallet/ios

/.idea
