*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
data/ipfs/*
!data/ipfs/.gitkeep
data/ipfs-export/*
!data/ipfs-export/.gitkeep
data/mongodb/*
!data/mongodb/.gitkeep